{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row-replace">
    {% if not_found %}
        <div class="alert alert-danger text-center" role="alert">
          {{ not_found }}
        </div>
    {% endif %}
    {% if raspr %}
        <div class="container-fluid">
            <table id="dtBasicExample" class="table table-striped table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Дата распор
                    </th>
                    <th class="th-sm">Район
                    </th>
                    <th class="th-sm">Отдел
                    </th>
                    <th class="th-sm">Инн
                    </th>
                    <th class="th-sm">Организация
                    </th>
                    <th class="th-sm">Исполнитель
                    </th>
                    <th class="th-sm">Вид проверки
                    </th>
                    <th class="th-sm">Дата проведения c
                    </th>
                    <th class="th-sm">Дата проведения по
                    </th>
                    <th class="th-sm">№ распоряжения
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for r in raspr.object_list %}
                <tr >
                    <td>{{ r.raspr_date }}</td>
                    <td>{{ r.district }}</td>
                    <td>{{ r.department }}</td>
                    <td>{{ r.inn }}</td>
                    <td>{{ r.organization }}</td>
                    <td>{{ r.performer }}</td>
                    <td>{{ r.check_type }}</td>
                    <td>{{ r.date_proved_c }}</td>
                    <td>{{ r.date_proved_po }}</td>
                    <td>{{ r.raspr_num }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Дата распор
                    </th>
                    <th class="th-sm">Район
                    </th>
                    <th class="th-sm">Отдел
                    </th>
                    <th class="th-sm">Инн
                    </th>
                    <th class="th-sm">Организация
                    </th>
                    <th class="th-sm">Исполнитель
                    </th>
                    <th class="th-sm">Вид проверки
                    </th>
                    <th class="th-sm">Дата проведения c
                    </th>
                   <th class="th-sm">Дата проведения по
                    </th>
                    <th class="th-sm">№ распоряжения
                    </th>
                </tr>
                </tfoot>
            </table>
        {% load i18n %}
        <nav>
            <div class="pagination justify-content-end">
                {% if raspr.has_previous %}
                    <a href="?{{ raspr.previous_page_number.querystring }}"
                       class="prev page-link">&lsaquo;&lsaquo; {% trans "previous" %}</a>
                {% else %}
                    <li class="page-item disabled" aria-current="page">
                        <span class=" prev page-link">&lsaquo;&lsaquo; {% trans "previous" %}</span>
                    </li>
                {% endif %}
                {% for page in raspr.pages %}
                    {% if page %}

                        {% ifequal page raspr.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="current page page-link active">{{ page }}</span>
                            </li>
                        {% else %}
                            <li class="page-item" aria-current="page">
                                <a href="?{{ page.querystring }}" class="page page-link active">{{ page }}</a>
                            </li>
                        {% endifequal %}

                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if raspr.has_next %}
                    <a href="?{{ raspr.next_page_number.querystring }}" class="next page-link">{% trans "next" %}
                        &rsaquo;&rsaquo;</a>
                {% else %}
                    <li class="page-item disabled" aria-current="page">
                        <span class="disabled next page-link">{% trans "next" %} &rsaquo;&rsaquo;</span>
                    </li>
                {% endif %}
            </div>
        </nav>
        </div>
    {% endif %}
    </div>
    <div class="search-checker"></div>
{% endblock %}