{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock %}

{% block js %}
    {#  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    {#  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    <script src="{% static 'js/datepicker.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="col-12">
            <div class="alert alert-primary text-center" role="alert">
                <h4>Распоряжения форма</h4>
                {% if msg %}
                    <h5>  {{ msg }}</h5>
                {% endif %}
                {% if raspr_num %}
                    <h5>  {{ raspr_num }}</h5>
                {% endif %}
            </div>
        </div>



        <div class="raspor col-12 ">
            <form action="{% url 'bylaw_save' %}" method="POST" class="form-inline align-items-start" role="form">
                {% csrf_token %}


                <div class="col-md-12 pr-0">
                    <div class="row hidden">
                        <div class="form-group form-inline col-md-6 mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">№</div>
                            </div>
                            {{ form.raspr_num }}
                        </div>
                        <div class="form-group form-inline col-md-6 mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            {{ form.who_created }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="raspr_date" class="col-4">Дата распоряжения</label>
                            {{ form.raspr_date }}
                        </div>
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="district" class="col-4">Район</label>
                            {{ form.district }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="department" class="col-4">Отдел</label>
                            {{ form.department }}
                        </div>
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="inn" class="col-4">ИНН</label>
                            {{ form.inn }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="organization" class="col-4">Организация</label>
                            {{ form.organization }}
                        </div>
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="performer" class="col-4">Исполнитель</label>
                            {{ form.performer }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="check_type" class="col-4">Вид проверки</label>
                            {{ form.check_type }}
                        </div>
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="date_proved_c" class="col-4">Дата проведения c</label>
                            {{ form.date_proved_c }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="date_proved_po" class="col-4">Дата проведения по</label>
                            {{ form.date_proved_po }}
                        </div>
                        <div class="form-group form-inline col-md-6 mb-3">
                            <label for="base" class="col-4">Вид проверки (цель)</label>
                            {{ form.base }}
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group form-inline col-md-6 mb-3">
                                <label for="date_proved_po" class="col-4">ФБУЗ</label>
                                {{ form.lab_security }}
                            </div>
                                               <div class="text-center col-md-6">
                            <input type="submit" class="btn btn-primary" value="Сохранить">
                        </div>
                        </div>

                    </div>



            </form>
        </div>

    </div>

    </div>

    <script>
        var url = '{% url 'get_inn' %}'
        var gdn = '{{ gdn }}'
    </script>

{% endblock %}